@font-face {
    src: url('../fonts/MerriweatherBlack.ttf');
    font-family: MBlack;
}
@font-face {
    src: url('../fonts/MerriweatherRegular.ttf');
    font-family: MRegular;
}
@font-face {
    src: url('../fonts/MerriweatherBold.ttf');
    font-family: MBold;
}
@font-face {
    src: url('../fonts//CeraProRegular.otf');
    font-family: CRegular;
}
@font-face {
    src: url('../fonts/Gilroy-Light.otf');
    font-family: Gilroy;
}
* {
    margin: 0;
    padding: 0;
    --first-color:#03A803;
    --second-color:#333333;
    
}
body {
    box-sizing: border-box;
    background-color: #E5E5E5;
    color: var(--second-color);
    font-family: MRegular;
}
body, html {
    max-width: 100%;
    overflow-x: hidden;
}
a:hover {
    text-decoration: none;
}
hr {
    margin: 0;
}
h1, h2, h3 {
    font-family: MBold;
}
[class*='col-'] {
    padding: 0;
    height: max-content;
    height: -moz-max-content;
    height: -webkit-max-content;
    height: -o-max-content;
}
.container-fluid {
    max-width: 1500px;
}
.row {
    margin: 0;
}
.nav-container {
    border-bottom: 1px solid #e9e9e9;
}
.navbar {
    padding: 0;
}
.navbar .navbar-toggler {
    border: none;
    outline: none;
    padding: 0;
    margin: 0 5px 0 15px;
}  

.hamburger {
    outline: none;
}
.hamburger .line{
    width: 27px;
    height: 1px;
    background-color: var(--second-color);
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover{
    cursor: pointer;
}
.hamburger .line:first-child {
    margin-top: 0;
}
.hamburger .line:last-child {
    margin-bottom: 0;
}
#hamburger-6.is-active{
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hamburger-6.is-active .line:nth-child(2){
    width: 0px;
}

#hamburger-6.is-active .line:nth-child(1),
#hamburger-6.is-active .line:nth-child(3){
    -webkit-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

#hamburger-6.is-active .line:nth-child(1){
    -webkit-transform: translateY(13px);
    -ms-transform: translateY(13px);
    -o-transform: translateY(13px);
    transform: translateY(13px);
}

#hamburger-6.is-active .line:nth-child(3){
    -webkit-transform: translateY(-6px) rotate(90deg);
    -ms-transform: translateY(-6px) rotate(90deg);
    -o-transform: translateY(-6px) rotate(90deg);
    transform: translateY(-6px) rotate(90deg);
}
.nav-item {
    margin: 0 15px;
    
}
@media only screen and (max-width:1200px){
    .nav-item {
        margin: 0 5px;
        
    }
}
.nav-item a {
    color: var(--second-color);
}
.tel {
    background: var(--first-color);
    border-radius: 4px;
    padding: 1em;
    margin-left: auto;
}
@media only screen and (max-width:992px){
    .tel {
        display: inline-block;        
    }
    .nav-item {
        margin: 0.5em 0;
    }
}
.tel span {
    color: #ffffff;
    font-family: MBold;

}
header {
    background: #ffffff;
    margin-top: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    position: relative;
}
.c-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-top: 4em;
}
@media only screen and (max-width:768px) {
    #carousel {
        padding-bottom: 4em;
    }
    .c-panel {
        margin-top: 0;
    }
    .c-panel .c-panel-header {
        font-size: 18px;
    }
}
@media only screen and (max-width:576px) {
    .c-img img{
        display: none;

    }
    .c-panel {
        background-image: url(../images/carousel-img-1.png);
        background-repeat: no-repeat;
        background-position: 110% 150%;
        background-size: 50%;
    }
}

.c-panel-header {
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 1em;
    font-family: MBold;
}
.c-panel-btn {
    border-radius: 4px;
    border: 1px solid var(--first-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 45px;
    margin-top: 3em;
    color: var(--second-color);
}
.c-panel-btn:hover {
    color: var(--second-color);
}
.c-img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.c-img img {
    max-width: 100%;
    object-fit: contain;
}
.carousel-indicators li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 2px solid var(--first-color);
    margin: 0 5px;
}
.carousel-indicators li.active {
    position: relative;
}
.carousel-indicators li.active::before {
    content: '';
    position: absolute;
    background:#5BC949;
    border-radius: 50%;
    opacity: 0.6;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}
.carousel-bg{
    content: '';
    position: absolute;
    left: -15%;
    bottom: -30%;
    background-image: url(../images/carousel-bg.png);
    background-repeat: no-repeat;
    background-size: auto;
    z-index: -1;
    transform: rotate(-26deg) ;
}
.mahsulot-1 {
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #ffff;
    background-image: url(../images/m-bg-1.png), url(../images/m-bg-2.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 0 100%, 100% 0;
    background-size: 50%, 50%;
    height: 550px;
}
.m-panel {
    text-align: left;
}
.m-panel-title {
    font-size: 40px;
    line-height: 50px;
    font-family: MBold;
    margin: 15px 0;

}
.m-panel-body {
    font-size: 20px;
    line-height: 25px;
    color: rgba(0,0,0,0.5);
}
.m-panel-price span {
    color: var(--first-color);
    font-size: 50px;
    font-family: MBold;
}
.mahsulot-2 {
    align-items: center;
    justify-content: flex-end;
    background-color: #ffff;
    height: 100%;
}
.mahsulot-3 .m-panel-title, .mahsulot-4 .m-panel-title {
    font-size: 20px;
    margin: 0;
}
.mahsulot-3 .m-panel-price span, .mahsulot-4 .m-panel-price span {
    font-size: 30px;
}
.mahsulot-3, .mahsulot-4 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #ffff;
    height: 100%;
    background-image: url(../images/mahsulot-3.png);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 90%;
}
@media only screen and (max-width:992px){
    .mahsulot-2 {
        margin-top: 2em;
    }
}
@media only screen and (max-width: 768px){
    .mahsulot-1 {
        height: 400px;
    }
}
@media only screen and (max-width: 768px){
    .mahsulot-1 {
        height: 320px;
        background-size: 40%, 50%;
    }
}
.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
        "a a b b"
        "a a c d"
       
}
@media only screen and (max-width:992px){
    .products {
        grid-template-areas:
            "a a a a"
            "b b b b"
            "c c d d";
    }
    .products .m2, .products .m3{
        padding-left: 0;
    }

}
@media only screen and (max-width: 576px){
    .products {
        grid-template-areas:
            "a a a a"
            "b b b b"
            "c c c c"
            "d d d d"
            ;
    }
    .products .m4{
        padding-left: 0;
        padding-top: 2em;
    }

}
.m1 {
    grid-area: a;
}
.m2 {
    grid-area: b;
    padding: 0 0 2em 2em;
}
.m3 {
    grid-area: c;
    padding-left: 2em;
}
.m4 {
    grid-area: d;
    padding-left: 2em;
}
.m3 .m-panel, .m4 .m-panel {
    padding-left: 3em;
    padding-top: 2em;
    background: linear-gradient(137.32deg, rgba(255, 255, 255, 0.56) -13.7%, #FFFFFF 56.45%);
    border-radius: 160px 0px 0px 0px;
}
.yuriqnoma {
    background: url(../images/book.svg);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: auto;
    padding-bottom: 2em;
}
@media only screen and (max-width: 576px){
    .yuriqnoma {
        background-position: 100% 100%;
        background-size: 50%;
}
}
.yuklash {
    margin-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 2em;
    background: var(--first-color);
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: -o-fit-content;
    color: #ffffff;
    font-family: MBold;
}
.yuklash:hover {
    color: #ffffff;
}
.yuklash img {
    margin-right: 0.5em;
}
.mahsulot {
    background-image: url(../images/product-bg.png);
    background-position: 5% 135%;
    background-size: 45%;
    background-repeat: no-repeat;
}
.s-panel {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 2em;
}
@media only screen and (max-width:992px){
    .s-panel {
        display: block;
        margin-right: 1em;
    }
    .s-panel-img {
        height: 170px;
        margin-bottom: 1em;
    }
    .s-panel-img img {
        height: 100%;
    }
}
@media only screen and (max-width:576px){
     .s-panel {
       margin: 0;
    }
    .s-panel .s-panel-img {
        margin-right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .s-panel-body {
        text-align: justify;
    }
   .s-panel-title {
       text-align: center;
   }

}

.s-panel-img {
    margin-right: 1em;
}



.s-panel-title {
    font-size: 24px;
    font-family: MBold;
}
.s-panel-body {
    font-size: 13px;
    opacity: 0.5;
}
.tarkib-title {
    font-size: 46px;
    font-family: MBold;
}
.tarkib-text {
    text-transform: uppercase;
    font-size: 14px;
    opacity: 0.5;
    padding-bottom: 0.5em;
    width: max-content;
    border-bottom: 5px solid var(--first-color);
    max-width: 100%;
}
.t-title {
    font-size: 10px;
    opacity: 0.5;
    text-transform: uppercase;
}
.t-text {
    font-size: 14px;
    font-family: MBold;
    text-transform: uppercase;
    margin-bottom: 1em;
}
.t-prosent {
    font-family: CRegular;
    font-weight: 900;
    color: var(--first-color);
    font-size: 34px;
    line-height: 30px;
    margin-bottom: 1em;
}

@media only screen and (max-width:576px){
    .t-title {
        font-size: 8px;
    }
    .t-text {
        font-size: 10px;
        margin-bottom: 1em;
    }
    .t-prosent {
        font-size: 26px;
    }
}
.tarkib {
    padding: 2.5em 0;
}
.about-tarkib {
    position: relative;
}
.tarkib-img {
    position: absolute;
    top: -20%;
    left: -95%;
}
@media only screen and (max-width:1200px){
    .tarkib-img {
        left: -110%;
    } 
}
@media only screen and (max-width:992px){
    .tarkib-img {
        left: -126%;
        top: 0;
        height: 500px;
    } 
    .tarkib-img img {
        width: auto;
        height: 100%;
    }
}
@media only screen and (max-width: 768px){
    .tarkib-img {
       display: none;
    } 
}

.galereya-title {
    font-size: 34px;
    line-height: 43px;
    font-family: MBold;
    text-align: center;
}
.galereya-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
        "a a a b b c c c c"
        "a a a d d e e f f"
       
}
.img-1 {
   grid-area: a;
   padding-right: 1em;
}
.img-2 {
    grid-area: b;
   padding: 0 1em 1em 1em;
}
.img-3 {
    grid-area: c;
    padding: 0 0 1em 1em;
}
.img-4 {
    grid-area: d;
    padding: 1em 1em 0 1em;
}
.img-5 {
    grid-area: e;
    padding: 1em 1em 0 1em;
}
.img-6 {
    grid-area: f;
    padding: 1em 0 0 1em;
}
.galereya-grid img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    height: 100%;
}
@media only screen and (max-width: 768px){
    .galereya-grid {
        font-size: 0.5em;
    }
}
@media only screen and (max-width: 576px){
    .galereya-grid {
        font-size: 1em;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto;
        grid-template-areas:
        "a a b b"
        "a a d d"
        "c c c c"
        "e e f f"
    }
    .galereya-grid .img-3 {
        padding-top: 2em;
        padding-left: 0;
    }
    .galereya-grid .img-5 {
        padding-left: 0;
    }
    .galereya-grid .img-2, .galereya-grid .img-4 {
        padding-right: 0;
    }
}
/* ///////////////////////////////// */
.galereya-grid  [class*='img-'] {
    position: relative;
    overflow: hidden;
}
.galereya-grid [class*='img-']::before {
    content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
.galereya-grid [class*='img-']:hover::before {
	-webkit-animation: circle .5s;
	animation: circle .5s;
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 98%;
		height: 98%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 98%;
		height: 98%;
		opacity: 0;
	}
}
/* //////////////////////////////// */
.hamkor-title {
    font-size: 34px;
    line-height: 43px;
    margin-bottom: 0.5em;
    font-family: MBold;
}
.hamkor-text {
    font-size: 14px;
    line-height: 22px;
}
.hamkor-logos {
    margin-left: -1em;
}
.logo {
    margin: 1em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 0px 14px 22px rgba(0, 0, 0, 0.08);
    height: 130px;
    width: 150px;
}
@media only screen and (max-width:992px) {
    .logo {
        width: 130px;
    }
}
@media only screen and (max-width: 768px){
    .hamkor-logos .logo {
        width: 150px;
    }
}
@media only screen and (max-width: 576px){
    .hamkor-logos {
        margin-left: 0;
    }
    .logo {
        width: 130px;
    }
}
@media only screen and (min-width:1920px){
   .hamkor { 
        background-position: 75% 32%;
        background-size: 30%;
   }
}
@media only screen and (max-width: 320px) {
.hamkor-logos .logo {
    width: 125px;
}
}
.hamkor-container {
    background-image: url(../images/hamkor-bg-2.svg);
    background-repeat: no-repeat;
    background-position: 100% 84%;
    background-size: 40%;
    padding-bottom: 10em;
    position: relative;
}
@media only  screen and (max-width: 992px) {
    .hamkor-container {
        background: none;
    }
}
@media only  screen and (max-width: 576px) {
    .hamkor-container {
        padding-bottom: 5em;
    }
}
.hamkor-container::before {
    content: '';
    position: absolute;
    right: -12%;
    top: 0;
    background-image: url(../images/hamkor-bg-1.svg);
    background-size: 100%;
    background-position: 0% 24%;
    background-repeat: no-repeat;
    width: 63%;
    height: 110%;
    z-index: -1;
    animation:CircleElement1 8s ease-in-out infinite
}

@keyframes CircleElement1 {
    50% {
        -webkit-transform:translate3d(0,50px,0);
        transform:translate3d(0,50px,0)}
    }
@-moz-keyframes CircleElement1 {
    50% {
        -moz-transform:translate3d(0,50px,0);transform:translate3d(0,50px,0)}
}
@-o-keyframes CircleElement1{50%{transform:translate3d(0,50px,0)}
}
@media only screen and (max-width:992px){
    .contact label {
        width: 100%;
        justify-content: flex-start;
    }
    .contact form {
       margin-bottom: 2em;
    }
}
.contact-container {
    position: relative;
}
.contact-container::before {
    content: '';
    position: absolute;
    left: -30%;
    top: -100%;
    bottom: -100%;
    width: 50%;
    right: 0;
    background-image: url(../images/contact-bg.svg);
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: 90%;
    z-index: -1;
    animation:  CircleElement2 6s ease-in-out infinite ;
}
@media only screen and (max-width:1366px){
    .contact-container::before {
        left: -15%;
        width: 45%;
    }
}
@media only screen and (max-width:576px){
    .contact-container::before {
        width: 60%;
    }
}
@keyframes CircleElement2 {
    50% {
        -webkit-transform:translate3d(0,50px,0);
        transform:translate3d(0,50px,0)
    }
}
.contact {
    padding-bottom: 10em;
}
.contact form label{
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 1em;
}
.contact input {
    height: 50px;
    width: 250px;
    border: none;
    outline: none;
    margin-right: 1em;
    background: rgba(3, 168, 3, 0.1);
    color: var(--first-color);
    font-size: 12px;
    padding: 1em;
    font-family: CRegular;

}
@media only  screen and (max-width: 1200px) {
    .contact input {
        width: auto;
        margin-right: 0.5em;
    } 
}
.contact input::placeholder {
    color: var(--first-color);
    font-size: 12px;
    opacity: 0.7;
}
.contact button {
    padding: 0.7em;
    background: var(--first-color);
    border: none;
}
.social-title {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 1em;
}
.social a {
    display: flex;
    width: 145px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--first-color);
    color: var(--first-color);
    font-size: 18px;
    line-height: 110%;
    font-family: Gilroy;
}
@media only screen and (max-width:1200px){
    .social a {
        width: 90%;
    } 
}
@media only screen and (max-width:320px){
    .social a {
        font-size: 14px;
    } 
}
.social a img {
    margin-right: 0.3em;
}
.footer-nav .nav-container {
    transform: translateY(-15px);
    border: 0;
}
@media only screen and (max-width:992px){
    .footer-nav .navbar, .footer-nav .navbar-nav, .footer-nav .nav-item {
        display: inline-block;
    }
    .footer-nav .nav-item {
        margin: 0.5em 1em;
    }
}
footer {
    background: #fff;
    padding-top: 2em;
    z-index: 5;
}
.footer-container {
    font-size: 12px;
    padding: 3em 0;
   
}
.footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--second-color);
    opacity: 0.5;
}
@media only screen and (max-width:992px){
    .footer-links {
        display: block;
    }
    .footer-links a {
        max-width: fit-content;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: -o-fit-content;
        margin: 1em 0;
    }
}
.footer-links a img {
    margin-right: 0.4em;
}

.g-map {
    width: 250px;
}
.copyright {
    display: inline-block;
    opacity: 0.5;
}